/* Componente tres */
.contenedor{
    border-style: dotted;
    text-align: center;
    margin-left: 30em;
    margin-right: 30em;
    margin-top: 2em;
}
.imagen{
    padding-left: 5px;
    padding-right: 5px;
}
/* Componente tres */